<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper red accent-4">
      <div class="container">
        <a href="/" class="brand-logo">RU Review</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><span class="white-text accent-4">{{#if isAuthenticated}} Hello {{{ user.username }}} {{/if}}</span></li>
          <li><a class="waves-effect waves-light btn modal-trigger white" href="#login-modal"><span class="red-text accent-4">Login</span></a></li>
          <li><a class="waves-effect waves-light btn modal-trigger white" href="#signup-modal"><span class="red-text accent-4">Signup</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    {{{ body }}}
  </main>
   <aside>
     <div id="login-modal" class="modal">
      <form id="formLogin" class="col s12" method="POST" action="/check">
        <div class="modal-content">
          <h3>Log In</h3>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="username">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn modal-action modal-close waves-effect waves-white btn-flat">Cancel</button>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-white btn-flat">Submit</button>
        </div>
      </form>
    </div>
   </aside>

   <aside>
     <div id="signup-modal" class="modal">
      <form class="col s12" id="formSignup" method="POST" action="/save">
        <div class="modal-content">
          <h3>Sign Up</h3>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" name="firstname">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" name="lastname">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="username">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn modal-action modal-close waves-effect waves-white btn-flat">Cancel</button>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-white btn-flat">Submit</button>
        </div>
      </form>
    </div>
   </aside>

   <aside>
     <div id="rate-modal" class="modal">
      <form class="col s12" id="formSignup" method="POST" action="/saveRating">
        <div class="modal-content">
          <h3>Review</h3>
          <div class="row">
            <div class="input-field col s6">
              <input id="location-name" type="text" class="validate" name="locationName">
              <label for="location-name">Location Name</label>
            </div>
            <div class="input-field col s6">
              <input id="dining-type" type="text" class="validate" name="diningType">
              <label for="dining-type">Dining Type</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="city" type="text" name="city">
              <label for="city">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="rating" type="text" class="validate" name="rating">
              <label for="rating">Star Rating</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="review" type="text" class="validate" name="review">
              <label for="review">Review</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn modal-action modal-close waves-effect waves-white btn-flat">Cancel</button>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-white btn-flat">Submit</button>
        </div>
      </form>
    </div>
   </aside>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
  <!-- plugin for jQuery form validation -->
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <!-- js file for form validation -->
  <script type="text/javascript" src="js/formValidate.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
</body>
</html>
