<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper red accent-4">
      <div class="container">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
  <!--PAGE LAYOUT-->
    <div class="row">
    <!--CHECKBOX FILTER-->
      <div class="col s12 m3 l3" id="test">
        <div id="filter">
          <form action="#">
          <!--DINING-->
            <p>
              <input type="checkbox" id="dining" />
              <label for="dining">Dining</label>
            </p>
            <!--RU SPORTS-->
            <p>
              <input type="checkbox" id="ru_sports" checked="checked" />
              <label for="ru_sports">RU Sports</label>
            </p>
            <!--ON-CAMPUS EVENTS-->
            <p>
              <input type="checkbox" id="campus_events" />
              <label for="campus_events">On-Campus Events</label>
            </p>
            <!--RECREATION-->
            <p>
              <input type="checkbox" id="recreation" />
              <label for="recreation">Things-to-do</label>
            </p>
          </form>
        </div>
      </div>

      <div class="col s12 m6 l6" id="test">
        {{{ body }}} <!--GEOLOCATION / PLACE-->
      </div>

      <div class="col s12 m3 l3" id="test">
        <!--NEXTBUS / SUGABUS API?-->
      </div>
    </div>
   </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
