<!DOCTYPE html>
<html>
<head>
  <meta author="Steven Buller" linkedin="https://www.linkedin.com/in/stevenbuller1">
  <meta author="Jameson Jackson" url="https://www.linkedin.com/in/jamesonjacksonrpcv">
  <meta author="Darryl Mendonez" url="https://darrylmendonez.herokuapp.com/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>RU Review</title>
  <!-- MaterializeCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <!-- Font Awesome Library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Animations by Dan Eden -->
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red accent-4">
        <div class="container">
          <a href="/" class="brand-logo text-shadow hide-on-med-and-down">RU Review</a>
          <a id="welcome-username" href="/yourReviews">{{#if isAuthenticated}} Hello {{ user.firstname }}</a>
          <!-- desktop nav -->
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class="waves-effect waves-light">Home</a></li>
            <li><a href="/yourReviews" class="waves-effect waves-light">Your Reviews</a></li>
            <li><a href="/logout" class="waves-effect waves-light">Log Out</a></li>
          </ul>
          {{/if}}
          {{#if isAuthenticated }}

          {{ else }}
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn modal-trigger white" href="#login-modal"><span class="red-text accent-4">Log In</span></a></li>
            <li><a class="waves-effect waves-light btn modal-trigger white" href="#signup-modal"><span class="red-text accent-4">Sign Up</span></a></li>
            {{/if}}
          </ul>
          <!-- mobile nav -->
          <!-- mobile nav menu icon -->
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          {{#if isAuthenticated}}
          <ul id="mobile-demo" class="side-nav">
            <li><a href="/" class="waves-effect waves-light">Home</a></li>
            <li><a href="/yourReviews" class="waves-effect waves-light">Your Reviews</a></li>
            <li><a href="/logout" class="waves-effect waves-light">Log Out</a></li>
          </ul>
          {{/if}}
          {{#if isAuthenticated }}

          {{ else }}
          <ul id="mobile-demo" class="side-nav">
            <li><a href="#login-modal" class="waves-effect waves-light modal-trigger">Log In</a></li>
            <li><a href="#signup-modal" class="waves-effect waves-light modal-trigger">Sign Up</a></li>
          </ul>
          {{/if}}
        </div>
      </div>
    </nav>
  </div>

  <main>
      {{{ body }}}
  </main>

   <aside>
     <div id="login-modal" class="modal">
      <form id="formLogin" class="col s12" method="POST" action="/check">
        <div class="modal-content">
          <h3>Log In</h3>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="username">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-action modal-close waves-effect waves-white btn-flat">Cancel</button>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-white btn-flat" onclick="Materialize.toast('Logging in...', 4000)">Submit</button>
        </div>
      </form>
    </div>
   </aside>

   <aside>
     <div id="signup-modal" class="modal">
      <form class="col s12" id="formSignup" method="POST" action="/save">
        <div class="modal-content">
          <h3>Sign Up</h3>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" name="firstname">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" name="lastname">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="username">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-action modal-close waves-effect waves-white btn-flat">Cancel</button>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-white btn-flat" onclick="Materialize.toast('Account created', 4000)">Submit</button>
        </div>
      </form>
    </div>
   </aside>

   <aside>
     <div id="rate-modal" class="modal">
      <form class="col s6" id="formRate" method="POST" action="/saveRating">
        <div class="modal-content">
          <h3>Review</h3>
          <div class="row">
            <div class="input-field col s6">
              <input id="location-name" type="text" class="validate" name="locationName">
              <label for="location-name">Location Name</label>
            </div>
            <div class="input-field col s6">
              <select id="diningType" type="text" name="diningType">
                <option value="" disabled selected>Choose</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Cafe">Cafe</option>
                <option value="Bar">Bar</option>
              </select>
              <label for="city">Dining Type</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="city" type="text" name="city">
                <option value="" disabled selected>Choose</option>
                <option value="New Brunswick">New Brunswick</option>
                <option value="Piscataway">Piscataway</option>
              </select>
              <label for="city">City</label>
            </div>
            <div class="input-field col s6">
              <select id="rating" type="text" name="rating">
                <option value="" disabled selected>Choose</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
              <label for="rating">Star Rating</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="review" class="materialize-textarea validate" type="text" name="review"></textarea>
              <label for="review">Review</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-action modal-close waves-effect waves-white btn-flat">Cancel</button> 
          <button type="submit" class="btn modal-action modal-close waves-effect waves-white btn-flat" onclick="Materialize.toast('Review saved', 4000)">Submit</button>
        </div>
      </form>
    </div>
   </aside>

   <footer class="page-footer red accent-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">RU Review</h5>
            <p class="grey-text text-lighten-4">There are plenty of places to eat at Rutgers! RU Review is a place where users can read reviews about the many food spots on and around campus. Users can create accounts and write their own reviews as well as update and delete their reviews.</p>
            <p class="grey-text text-lighten-4">As students of Rutgers Coding Bootcamp we created RU Review as a CRUD project. MaterializeCSS is the front-end framework. Node.js runs the server-side along with npm packages such as express, sequelize, passport, body-parser, express-handlebars, and bcryptjs. MySQL stores our data.
          </div>
          <div class="col l4 offset-l2 s12">
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="images/steven.jpg" alt="" class="circle">
                <span class="title">Steven Buller</span>
                <p>
                  <a href="https://www.linkedin.com/in/stevenbuller1" target="_blank" class="black-text text-lighten-3"><i class="fa fa-linkedin-square fa-2x"></i></a>
                  <a href="https://github.com/stvbuller" target="_blank" class="black-text text-lighten-3"><i class="fa fa-github fa-2x"></i></a>
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="images/jameson.jpg" alt="" class="circle">
                <span class="title">Jameson Jackson</span>
                <p>
                  <a href="https://www.linkedin.com/in/jamesonjacksonrpcv" target="_blank" class="black-text text-lighten-3"><i class="fa fa-linkedin-square fa-2x"></i></a>
                  <a href="https://github.com/JamesonCodes" target="_blank" class="black-text text-lighten-3"><i class="fa fa-github fa-2x"></i></a>
              </li>
              <li class="collection-item avatar">
                <img src="images/darryl.jpg" alt="" class="circle">
                <span class="title">Darryl Mendonez</span>
                <p>
                  <a href="https://www.linkedin.com/in/darrylmendonez" target="_blank" class="black-text text-lighten-3"><i class="fa fa-linkedin-square fa-2x"></i></a>
                  <a href="https://github.com/MrMendonez" target="_blank" class="black-text text-lighten-3"><i class="fa fa-github fa-2x"></i></a>
                  <a href="https://twitter.com/MrMendonez" target="_blank" class="black-text text-lighten-3"><i class="fa fa-twitter fa-2x"></i></a>
                  <a href="https://darrylmendonez.herokuapp.com/" target="_blank" class="black-text text-lighten-3"><i class="fa fa-user fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <span class="right">© RU Review 2016</span> 
        </div>
      </div>
    </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>