<div class="section white">
  <div class="row container">
    <div  id="latestreviews" class="col s12 scrollspy">
    <h3>Latest Reviews</h3>
      <div class="row">
        {{#each reviews}}
          <div class="row">
            <div class="col-md-12">
              <ul class="collection">
                <li class="collection-item">
                  <h4>{{locationName}}</h4>
                  <b>{{city}}</b><br />
                  {{rating}} star rating<br />
                  <blockquote>{{review}}</blockquote>
             
                </li>
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<!--filtration
<div class="row">
  <div class= "col s12">
    <a href="filter/somerset"><button>In somerset</button></a>
  </div>
</div>
-->