<div class="row">
  <div class="container center">
    <div class="col m4">
      <i class="fa fa-cutlery fa-5x"></i>
    </div>
    <div class="col m4">
      <i class="fa fa-coffee fa-5x"></i>
    </div>
    <div class="col m4">
      <i class="fa fa-beer fa-5x"></i>
    </div>
  </div>
</div>