<div class="parallax-reviews-container">
    <div class="parallax"><img src="images/coffeemugs.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <br />
      <div class="col m4 center-align">
        <i class="fa fa-cutlery fa-5x"></i>
        <h3>Restaurants</h3>
      </div>
      <div class="col m4 center-align">
        <i class="fa fa-coffee fa-5x"></i>
        <h3>Coffee & Tea</h3>
      </div>
      <div class="col m4 center-align">
        <i class="fa fa-beer fa-5x"></i>
        <h3>Bars</h3>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
  </div>



<div class="row">
  <div class="container center">
    
  </div>
</div>