<div class="row">
  <h3>Signup Page</h3>
  <form class="col s12" id="formSignup" method="POST" action="/save">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" name="firstname">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" name="lastname">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </div>
  </form>
</div>

