<h1>Users</h1>
​
{{#each users}}
  <div class="row">
    <div class="col-md-12">
      <p>{{user.firstname}}</p>
      <p>{{userlastname}}</p>
      <p>{{user.username}}</p>
    </div>
  </div>
{{/each}}