
    <div class="row">
      {{#each reviews}}
        <div class="row">
          <div class="col-md-12">
            <p>{{locationName}}</p>
            <p>{{city}}</p>
            <p>{{rating}}</p>
            <p>{{review}}</p>
          </div>
        </div>
      {{/each}}
    </div>
