/* Styles for Rutgers Virtual Flyer */
  /*MAPBOX STLE*/
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.1em; 
}

.parallax-reviews-container {
  height: 200px;
}

blockquote {
  border-left: 5px solid red;
}