/* Styles for Rutgers Virtual Flyer */

.parallax-title-container {
  position: relative;
  overflow: hidden;
  height: 800px;
}

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.1em; 
}

.parallax-reviews-container {
  height: 200px;
}

blockquote {
  border-left: 5px solid red;
}

#welcome-username {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#search-form {
  background-color: white;
  opacity: 0.6;
}